%h1 Lista de Sorvetes

%table
  %tr
    %th Sabor
    %th Preco
    %th Cobertura
    %th
    %th

- @sorvetes.each do |sorvete|
  %tr
    %td= sorvete.sabor
    %td= sorvete.preco
    %td= sorvete.cobertura
    %td= link_to 'Mostrar', sorvete
    %td= link_to 'Editar', edit_sorvete_path(sorvete)
    /*%td= link_to 'Destroy', sorvete, method: :delete, data: { confirm: 'Esta certo disso?' }*/

%br
= link_to 'Novo Sorvete', new_sorvete_path
