#notice= notice

%p
  %b Sabor:
  = @sorvete.sabor

%p
  %b Preco:
  = @sorvete.preco

%p
  %b Cobertura:
  = @sorvete.cobertura


= link_to 'Editar', edit_sorvete_path(@sorvete)
= link_to 'Voltar', sorvetes_path
